<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Basic Form Inputs</h5>
                        <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Form Components</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Basic Form Inputs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Basic Form Inputs <a href="admin/hsn-code-list">HSN Codde</a></h5>
                                </div>
                                <div class="card-block">
                                    <h4 class="sub-title">Basic Inputs </h4>
                                    <form >
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">State</label>
                                            <div class="col-sm-10">
                                                <select id="stateSelect" class="form-control" formControlName="stateID">
                                                    <option value="">--Select State--</option>
                                                    <option value="1">Maharashtra</option>
                                                    <option value="2">Delhi</option>
                                                    <option value="3">Karnataka</option>
                                                    <option value="4">Tamil Nadu</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Hsn Code</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="hsnCode" placeholder="Hsn Code">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">GST</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="gstRate" placeholder="GST">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">SGST</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="gstRate" placeholder="SGST">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">IGST</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="igstRate" placeholder="IGST">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">CGST</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="cgstRate" placeholder="CGST">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">CESS</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="cessRate" placeholder="CESS">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Description</label>
                                            <div class="col-sm-10">
                                                <textarea rows="5" cols="5" class="form-control" formControlName="description" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                            <div class="row m-t-30">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Add Code</button>
                                            </div>
                                            <div class="col-md-4"> </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>