<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Basic Form Inputs</h5>
                        <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Form Components</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Basic Form Inputs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Basic Form Inputs</h5>
                                </div>
                                <div class="card-block">
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">
                                                <span class="text-danger">*</span>  Product / Voucher/ Service
                                            </label>
                                            <div class="col-sm-9">
                                                <select name="select" class="form-control form-control-round">
                                                    <option value="">-- Select Option --</option>
                                                    <option value="1">Product</option>
                                                    <option value="2">Voucher</option>
                                                    <option value="3">Service</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Category</label>
                                            <div class="col-sm-9">
                                                <select name="select" class="form-control form-control-round">
                                                    <option value="">-- Select Option --</option>
                                                    <option value="1">Product</option>
                                                    <option value="2">Voucher</option>
                                                    <option value="3">Service</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Sub-Category</label>
                                            <div class="col-sm-9">
                                                <select name="select" class="form-control form-control-round">
                                                    <option value="">-- Select Option --</option>
                                                    <option value="1">Product</option>
                                                    <option value="2">Voucher</option>
                                                    <option value="3">Service</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Brand Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" placeholder="You can't change me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Product name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" placeholder="Disabled text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Product Code</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" value="Enter yout content after me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">MRP (in INR)</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" value="Enter yout content after me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">GST (in % )</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" value="Enter yout content after me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Size</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" value="Enter yout content after me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Color</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" value="Enter yout content after me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Description</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" value="Enter yout content after me">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">HSN/SAC Code</label>
                                            <div class="col-sm-9">
                                                <select name="select" class="form-control form-control-round">
                                                    <option value="opt1">Select One Value Only</option>
                                                    <option value="opt2">Type 2</option>
                                                    <option value="opt3">Type 3</option>
                                                    <option value="opt4">Type 4</option>
                                                    <option value="opt5">Type 5</option>
                                                    <option value="opt6">Type 6</option>
                                                    <option value="opt7">Type 7</option>
                                                    <option value="opt8">Type 8</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">IGST</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" placeholder=".form-control-round">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">CGST</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" placeholder="Content must be in 6 characters" maxlength="6">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">SGST</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control form-control-round" placeholder="Autocomplete Off" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Image</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="form-control form-control-round">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Video</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="form-control form-control-round">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Add Code</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>