

<!-- <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-up" *ngIf="!authService.isLoggedIn()">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard" *ngIf="authService.isLoggedIn()">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" *ngIf="authService.isLoggedIn()">Users</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/chat-box" *ngIf="authService.isLoggedIn()">chat-box</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/products" *ngIf="authService.isLoggedIn()">Products</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" (click)="authService.logout()" *ngIf="authService.isLoggedIn()">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-sidebar></app-sidebar> -->
<router-outlet />
